---

const {title} = Astro.props
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="./logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title> {title} | Castle news</title>
    </head>
    <body>
        <nav class="bg-gray-900 px-4 py-2 flex justify-between">
            <div class="flex items-center">
                <img src="./logo.png" alt="Castle news logo" class="w-12" />
                <span class="text-2xl text-white mx-4">Castle news</span>
            </div>
            <div class="flex space-x-4">
                <a href="/" class="text-white hover:text-gray-400">Home</a>
                <a href="/add" class="text-white hover:text-gray-400">add news</a>
            </div>
            
        </nav>

        <slot>
            <h1>Not found</h1>
        </slot>
    </body>
</html>